*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.App{
    display: flex;
    flex-direction: column;
}

.header{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 7vh;
    background: rgb(90, 250, 210);
    color: white;
}

.btn{
    width: 15vw;
    padding: .6rem 1rem;
    border: none;
    margin: auto;
}

.tasks{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.task{
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .2rem;
    background: rgba(100, 255, 146, 0.836);
    margin-top: .2rem;
    border-bottom: .4rem solid rgb(90, 250, 210);
}

.text, .day{
    width: 50vw;
    padding: 0 .4rem;
}

.reminder{
    border-left: 10px solid rgb(0, 0, 0);
}

.add-form{
    width: 100%;
}

.form-control{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: .3rem 2rem;
}

.add-form input[type="submit"]{
    margin-left: 2rem;
    border: none;
    padding: .5rem;
}